################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/ReservationSystem/FileContentIndex/0e06a829-d369-4f71-b35f-e8e0db33708a.vsidx
/.vs/ReservationSystem/FileContentIndex/26b0b036-c789-4bd0-914e-8647af5f6313.vsidx
/.vs/ReservationSystem/FileContentIndex/32e8bbe0-941a-431f-9791-481c02ea7373.vsidx
/.vs/ReservationSystem/FileContentIndex/4da27c33-1926-41be-8c09-802a8e96b0b8.vsidx
/.vs/ReservationSystem/FileContentIndex/c5ebc40e-b8ef-49fc-a2a5-3646a42d77e6.vsidx
/.vs/ReservationSystem/FileContentIndex/e19711bd-6419-436d-90f7-a0003aebf888.vsidx
/.vs/ReservationSystem/FileContentIndex/9032b9b4-0d5c-474b-9076-eb0f22d9946d.vsidx
.vs/
